<div class="card">
    <div class="card-header">
        <h3>Login</h3>
    </div>
    <div id="login">
        <form class="login-form" class="card-body">

            <div>
                <label for="username-login">Username</label>
                <input id="username-login" type="text" autofocus="true" class="form-input" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input id="password-login" type="password" autofocus="true" class="form-input" />
            </div>
            <button type="submit" class="btn">Login!</button>
            <a class="login-link" href="/signup">Sign up instead</a>
        </form>
    </div>
</div>


<script src="/javascript/login.js"></script>