<div class="card">
    <div class="card-header">
        <h3>Signup</h3>
    </div>
    <div id="signup">
        <form id="signup-form" class="card-body">
            <div>
                <label for="username-signup">Username</label>
                <input id="username-signup" type="text" autofocus="true" class="form-input" />
            </div>
            <div>
                <label for="email-signup">Email</label>
                <input id="email-signup" type="text" autofocus="true" class="form-input"/>
            </div>
            <div>
                <label for="password-signup">Password</label>
                <input id="password-signup" type="password" autofocus="true" class="form-input" />
            </div>
            <button type="submit" class="btn">Signup!</button>
            <a class="login-link" href="/login">Login instead</a>
        </form>
    </div>
</div>

<script src="/javascript/signup.js"></script>